# Data Science
---

## 1- Introduction
### Using data to infer or predict future outcomes
---
Speaker 1:
* "What is data science?" 
* "A popular aspect of data science is machine learning which is used in applications such as building self driving cars"
* "Data science is mainly a combination of math and statistics, computer science, and domain knowledge."

![](Images/hello_intro.png)

## 2 - Exploratory Data Analysis
### Knowledge discovery through data exploration
---
Speaker 2:
* "A common first step for data scienctists is to see what we can learn from the data."
* "Let's explore some real data from passengers of the Titanic."

![](Images/Titanic_paper.jpg)

Let's first load some libraries we might need for our analysis.

Speaker 2:
* "Python is a highly used programming language by data scientist."
* "Libraries add more functions we can use for a specific purpose."
* "For instance, PANDAS helps us explore the data. 
* "MATPLOTLIB help us visualize the data."

In [100]:
import pandas
import matplotlib.pyplot as plt
import seaborn
%matplotlib inline

Now we load in the data from a CSV file.

In [101]:
data = pandas.read_csv('Data/example.csv')

Let's see what the data looks like!  
Speaker 2 - [Describe the data]

In [94]:
#Speaker 2 code:
data

,Unnamed: 0,Survived,Pclass,Name,Gender,Fare,Embarked
0,0,0,3,"Braund, Mr. Owen Harris",male,7.2500,S
1,1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,C
2,2,1,3,"Heikkinen, Miss. Laina",female,7.9250,S
3,3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,S
4,4,0,3,"Allen, Mr. William Henry",male,8.0500,S
5,5,0,3,"Moran, Mr. James",male,8.4583,Q
6,6,0,1,"McCarthy, Mr. Timothy J",male,51.8625,S
7,7,0,3,"Palsson, Master. Gosta Leonard",male,21.0750,S
8,8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,11.1333,S
9,9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,30.0708,C
10,10,1,3,"Sandstrom, Miss. Marguerite Rut",female,16.7000,S
11,11,1,1,"Bonnell, Miss. Elizabeth",female,26.5500,S
12,12,0,3,"Saundercock, Mr. William Henry",male,8.0500,S
13,13,0,3,"Andersson, Mr. Anders Johan",male,31.2750,S
14,14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,7.8542,S
15,15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,16.0000,S
16,16,0,3,"Rice, Master. Eugene",male,29.1250,Q
17,17,1,2,"Williams, Mr. Charles Eugene",male,13.0000,S
18,18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,18.0000,S
19,19,1,3,"Masselmani, Mrs. Fatima",female,7.2250,C
20,20,0,2,"Fynney, Mr. Joseph J",male,26.0000,S
21,21,1,2,"Beesley, Mr. Lawrence",male,13.0000,S
22,22,1,3,"McGowan, Miss. Anna ""Annie""",female,8.0292,Q
23,23,1,1,"Sloper, Mr. William Thompson",male,35.5000,S
24,24,0,3,"Palsson, Miss. Torborg Danira",female,21.0750,S
25,25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,31.3875,S
26,26,0,3,"Emir, Mr. Farred Chehab",male,7.2250,C
27,27,0,1,"Fortune, Mr. Charles Alexander",male,263.0000,S
28,28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,7.8792,Q
29,29,0,3,"Todoroff, Mr. Lalio",male,7.8958,S
30,30,0,1,"Uruchurtu, Don. Manuel E",male,27.7208,C
31,31,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,146.5208,C
32,32,1,3,"Glynn, Miss. Mary Agatha",female,7.7500,Q
33,33,0,2,"Wheadon, Mr. Edward H",male,10.5000,S
34,34,0,1,"Meyer, Mr. Edgar Joseph",male,82.1708,C
35,35,0,1,"Holverson, Mr. Alexander Oskar",male,52.0000,S
36,36,1,3,"Mamee, Mr. Hanna",male,7.2292,C
37,37,0,3,"Cann, Mr. Ernest Charles",male,8.0500,S
38,38,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0000,S
39,39,1,3,"Nicola-Yarred, Miss. Jamila",female,11.2417,C
40,40,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,9.4750,S
41,41,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,21.0000,S
42,42,0,3,"Kraeff, Mr. Theodor",male,7.8958,C
43,43,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,41.5792,C
44,44,1,3,"Devaney, Miss. Margaret Delia",female,7.8792,Q
45,45,0,3,"Rogers, Mr. William John",male,8.0500,S
46,46,0,3,"Lennon, Mr. Denis",male,15.5000,Q
47,47,1,3,"O'Driscoll, Miss. Bridget",female,7.7500,Q
48,48,0,3,"Samaan, Mr. Youssef",male,21.6792,C
49,49,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,17.8000,S
50,50,0,3,"Panula, Master. Juha Niilo",male,39.6875,S
51,51,0,3,"Nosworthy, Mr. Richard Cater",male,7.8000,S
52,52,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,76.7292,C
53,53,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,26.0000,S
54,54,0,1,"Ostby, Mr. Engelhart Cornelius",male,61.9792,C
55,55,1,1,"Woolner, Mr. Hugh",male,35.5000,S
56,56,1,2,"Rugg, Miss. Emily",female,10.5000,S
57,57,0,3,"Novel, Mr. Mansouer",male,7.2292,C
58,58,1,2,"West, Miss. Constance Mirium",female,27.7500,S
59,59,0,3,"Goodwin, Master. William Frederick",male,46.9000,S
60,60,0,3,"Sirayanian, Mr. Orsen",male,7.2292,C
61,61,1,1,"Icard, Miss. Amelie",female,80.0000,NaN
62,62,0,1,"Harris, Mr. Henry Birkhardt",male,83.4750,S
63,63,0,3,"Skoog, Master. Harald",male,27.9000,S
64,64,0,1,"Stewart, Mr. Albert A",male,27.7208,C
65,65,1,3,"Moubarek, Master. Gerios",male,15.2458,C
66,66,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,10.5000,S
67,67,0,3,"Crease, Mr. Ernest James",male,8.1583,S
68,68,1,3,"Andersson, Miss. Erna Alexandra",female,7.9250,S
69,69,0,3,"Kink, Mr. Vincenz",male,8.6625,S
70,70,0,2,"Jenkin, Mr. Stephen Curnow",male,10.5000,S
71,71,0,3,"Goodwin, Miss. Lillian Amy",female,46.9000,S
72,72,0,2,"Hood, Mr. Ambrose Jr",male,73.5000,S
73,73,0,3,"Chronopoulos, Mr. Apostolos",male,14.4542,C
74,74,1,3,"Bing, Mr. Lee",male,56.4958,S
75,75,0,3,"Moen, Mr. Sigurd Hansen",male,7.6500,S
76,76,0,3,"Staneff, Mr. Ivan",male,7.8958,S
77,77,0,3,"Moutal, Mr. Rahamin Haim",male,8.0500,S
78,78,1,2,"Caldwell, Master. Alden Gates",male,29.0000,S
79,79,1,3,"Dowdell, Miss. Elizabeth",female,12.4750,S
80,80,0,3,"Waelens, Mr. Achille",male,9.0000,S
81,81,1,3,"Sheerlinck, Mr. Jan Baptist",male,9.5000,S
82,82,1,3,"McDermott, Miss. Brigdet Delia",female,7.7875,Q
83,83,0,1,"Carrau, Mr. Francisco M",male,47.1000,S
84,84,1,2,"Ilett, Miss. Bertha",female,10.5000,S
85,85,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,15.8500,S
86,86,0,3,"Ford, Mr. William Neal",male,34.3750,S
87,87,0,3,"Slocovski, Mr. Selman Francis",male,8.0500,S
88,88,1,1,"Fortune, Miss. Mabel Helen",female,263.0000,S
89,89,0,3,"Celotti, Mr. Francesco",male,8.0500,S
90,90,0,3,"Christmann, Mr. Emil",male,8.0500,S
91,91,0,3,"Andreasson, Mr. Paul Edvin",male,7.8542,S
92,92,0,1,"Chaffee, Mr. Herbert Fuller",male,61.1750,S
93,93,0,3,"Dean, Mr. Bertram Frank",male,20.5750,S
94,94,0,3,"Coxon, Mr. Daniel",male,7.2500,S
95,95,0,3,"Shorney, Mr. Charles Joseph",male,8.0500,S
96,96,0,1,"Goldschmidt, Mr. George B",male,34.6542,C
97,97,1,1,"Greenfield, Mr. William Bertram",male,63.3583,C
98,98,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,23.0000,S
99,99,0,2,"Kantor, Mr. Sinai",male,26.0000,S
100,100,0,3,"Petranec, Miss. Matilda",female,7.8958,S
101,101,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,7.8958,S
102,102,0,1,"White, Mr. Richard Frasar",male,77.2875,S
103,103,0,3,"Johansson, Mr. Gustaf Joel",male,8.6542,S
104,104,0,3,"Gustafsson, Mr. Anders Vilhelm",male,7.9250,S
105,105,0,3,"Mionoff, Mr. Stoytcho",male,7.8958,S
106,106,1,3,"Salkjelsvik, Miss. Anna Kristine",female,7.6500,S
107,107,1,3,"Moss, Mr. Albert Johan",male,7.7750,S
108,108,0,3,"Rekic, Mr. Tido",male,7.8958,S
109,109,1,3,"Moran, Miss. Bertha",female,24.1500,Q
110,110,0,1,"Porter, Mr. Walter Chamberlain",male,52.0000,S
111,111,0,3,"Zabour, Miss. Hileni",female,14.4542,C
112,112,0,3,"Barton, Mr. David John",male,8.0500,S
113,113,0,3,"Jussila, Miss. Katriina",female,9.8250,S
114,114,0,3,"Attalah, Miss. Malake",female,14.4583,C
115,115,0,3,"Pekoniemi, Mr. Edvard",male,7.9250,S
116,116,0,3,"Connors, Mr. Patrick",male,7.7500,Q
117,117,0,2,"Turpin, Mr. William John Robert",male,21.0000,S
118,118,0,1,"Baxter, Mr. Quigg Edmond",male,247.5208,C
119,119,0,3,"Andersson, Miss. Ellis Anna Maria",female,31.2750,S
120,120,0,2,"Hickman, Mr. Stanley George",male,73.5000,S
121,121,0,3,"Moore, Mr. Leonard Charles",male,8.0500,S
122,122,0,2,"Nasser, Mr. Nicholas",male,30.0708,C
123,123,1,2,"Webber, Miss. Susan",female,13.0000,S
124,124,0,1,"White, Mr. Percival Wayland",male,77.2875,S
125,125,1,3,"Nicola-Yarred, Master. Elias",male,11.2417,C
126,126,0,3,"McMahon, Mr. Martin",male,7.7500,Q
127,127,1,3,"Madsen, Mr. Fridtjof Arne",male,7.1417,S
128,128,1,3,"Peter, Miss. Anna",female,22.3583,C
129,129,0,3,"Ekstrom, Mr. Johan",male,6.9750,S
130,130,0,3,"Drazenoic, Mr. Jozef",male,7.8958,C
131,131,0,3,"Coelho, Mr. Domingos Fernandeo",male,7.0500,S
132,132,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,14.5000,S
133,133,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,26.0000,S
134,134,0,2,"Sobey, Mr. Samuel James Hayden",male,13.0000,S
135,135,0,2,"Richard, Mr. Emile",male,15.0458,C
136,136,1,1,"Newsom, Miss. Helen Monypeny",female,26.2833,S
137,137,0,1,"Futrelle, Mr. Jacques Heath",male,53.1000,S
138,138,0,3,"Osen, Mr. Olaf Elon",male,9.2167,S
139,139,0,1,"Giglio, Mr. Victor",male,79.2000,C
140,140,0,3,"Boulos, Mrs. Joseph (Sultana)",female,15.2458,C
141,141,1,3,"Nysten, Miss. Anna Sofia",female,7.7500,S
142,142,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,15.8500,S
143,143,0,3,"Burke, Mr. Jeremiah",male,6.7500,Q
144,144,0,2,"Andrew, Mr. Edgardo Samuel",male,11.5000,S
145,145,0,2,"Nicholls, Mr. Joseph Charles",male,36.7500,S
146,146,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,7.7958,S
147,147,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,34.3750,S
148,148,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,26.0000,S
149,149,0,2,"Byles, Rev. Thomas Roussel Davids",male,13.0000,S
150,150,0,2,"Bateman, Rev. Robert James",male,12.5250,S
151,151,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,66.6000,S
152,152,0,3,"Meo, Mr. Alfonzo",male,8.0500,S
153,153,0,3,"van Billiard, Mr. Austin Blyler",male,14.5000,S
154,154,0,3,"Olsen, Mr. Ole Martin",male,7.3125,S
155,155,0,1,"Williams, Mr. Charles Duane",male,61.3792,C
156,156,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,7.7333,Q
157,157,0,3,"Corn, Mr. Harry",male,8.0500,S
158,158,0,3,"Smiljanic, Mr. Mile",male,8.6625,S
159,159,0,3,"Sage, Master. Thomas Henry",male,69.5500,S
160,160,0,3,"Cribb, Mr. John Hatfield",male,16.1000,S
161,161,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,15.7500,S
162,162,0,3,"Bengtsson, Mr. John Viktor",male,7.7750,S
163,163,0,3,"Calic, Mr. Jovo",male,8.6625,S
164,164,0,3,"Panula, Master. Eino Viljami",male,39.6875,S
165,165,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,20.5250,S
166,166,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,55.0000,S
167,167,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,27.9000,S
168,168,0,1,"Baumann, Mr. John D",male,25.9250,S
169,169,0,3,"Ling, Mr. Lee",male,56.4958,S
170,170,0,1,"Van der hoef, Mr. Wyckoff",male,33.5000,S
171,171,0,3,"Rice, Master. Arthur",male,29.1250,Q
172,172,1,3,"Johnson, Miss. Eleanor Ileen",female,11.1333,S
173,173,0,3,"Sivola, Mr. Antti Wilhelm",male,7.9250,S
174,174,0,1,"Smith, Mr. James Clinch",male,30.6958,C
175,175,0,3,"Klasen, Mr. Klas Albin",male,7.8542,S
176,176,0,3,"Lefebre, Master. Henry Forbes",male,25.4667,S
177,177,0,1,"Isham, Miss. Ann Elizabeth",female,28.7125,C
178,178,0,2,"Hale, Mr. Reginald",male,13.0000,S
179,179,0,3,"Leonard, Mr. Lionel",male,0.0000,S
180,180,0,3,"Sage, Miss. Constance Gladys",female,69.5500,S
181,181,0,2,"Pernot, Mr. Rene",male,15.0500,C
182,182,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,31.3875,S
183,183,1,2,"Becker, Master. Richard F",male,39.0000,S
184,184,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,22.0250,S
185,185,0,1,"Rood, Mr. Hugh Roscoe",male,50.0000,S
186,186,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,15.5000,Q
187,187,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,26.5500,S
188,188,0,3,"Bourke, Mr. John",male,15.5000,Q
189,189,0,3,"Turcin, Mr. Stjepan",male,7.8958,S
190,190,1,2,"Pinsky, Mrs. (Rosa)",female,13.0000,S
191,191,0,2,"Carbines, Mr. William",male,13.0000,S
192,192,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,7.8542,S
193,193,1,2,"Navratil, Master. Michel M",male,26.0000,S
194,194,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,27.7208,C
195,195,1,1,"Lurette, Miss. Elise",female,146.5208,C
196,196,0,3,"Mernagh, Mr. Robert",male,7.7500,Q
197,197,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,8.4042,S
198,198,1,3,"Madigan, Miss. Margaret ""Maggie""",female,7.7500,Q
199,199,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,13.0000,S
200,200,0,3,"Vande Walle, Mr. Nestor Cyriel",male,9.5000,S
201,201,0,3,"Sage, Mr. Frederick",male,69.5500,S
202,202,0,3,"Johanson, Mr. Jakob Alfred",male,6.4958,S
203,203,0,3,"Youseff, Mr. Gerious",male,7.2250,C
204,204,1,3,"Cohen, Mr. Gurshon ""Gus""",male,8.0500,S
205,205,0,3,"Strom, Miss. Telma Matilda",female,10.4625,S
206,206,0,3,"Backstrom, Mr. Karl Alfred",male,15.8500,S
207,207,1,3,"Albimona, Mr. Nassef Cassem",male,18.7875,C
208,208,1,3,"Carr, Miss. Helen ""Ellen""",female,7.7500,Q
209,209,1,1,"Blank, Mr. Henry",male,31.0000,C
210,210,0,3,"Ali, Mr. Ahmed",male,7.0500,S
211,211,1,2,"Cameron, Miss. Clear Annie",female,21.0000,S
212,212,0,3,"Perkin, Mr. John Henry",male,7.2500,S
213,213,0,2,"Givard, Mr. Hans Kristensen",male,13.0000,S
214,214,0,3,"Kiernan, Mr. Philip",male,7.7500,Q
215,215,1,1,"Newell, Miss. Madeleine",female,113.2750,C
216,216,1,3,"Honkanen, Miss. Eliina",female,7.9250,S
217,217,0,2,"Jacobsohn, Mr. Sidney Samuel",male,27.0000,S
218,218,1,1,"Bazzani, Miss. Albina",female,76.2917,C
219,219,0,2,"Harris, Mr. Walter",male,10.5000,S
220,220,1,3,"Sunderland, Mr. Victor Francis",male,8.0500,S
221,221,0,2,"Bracken, Mr. James H",male,13.0000,S
222,222,0,3,"Green, Mr. George Henry",male,8.0500,S
223,223,0,3,"Nenkoff, Mr. Christo",male,7.8958,S
224,224,1,1,"Hoyt, Mr. Frederick Maxfield",male,90.0000,S
225,225,0,3,"Berglund, Mr. Karl Ivar Sven",male,9.3500,S
226,226,1,2,"Mellors, Mr. William John",male,10.5000,S
227,227,0,3,"Lovell, Mr. John Hall (""Henry"")",male,7.2500,S
228,228,0,2,"Fahlstrom, Mr. Arne Jonas",male,13.0000,S
229,229,0,3,"Lefebre, Miss. Mathilde",female,25.4667,S
230,230,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,83.4750,S
231,231,0,3,"Larsson, Mr. Bengt Edvin",male,7.7750,S
232,232,0,2,"Sjostedt, Mr. Ernst Adolf",male,13.5000,S
233,233,1,3,"Asplund, Miss. Lillian Gertrud",female,31.3875,S
234,234,0,2,"Leyson, Mr. Robert William Norman",male,10.5000,S
235,235,0,3,"Harknett, Miss. Alice Phoebe",female,7.5500,S
236,236,0,2,"Hold, Mr. Stephen",male,26.0000,S
237,237,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,26.2500,S
238,238,0,2,"Pengelly, Mr. Frederick William",male,10.5000,S
239,239,0,2,"Hunt, Mr. George Henry",male,12.2750,S
240,240,0,3,"Zabour, Miss. Thamine",female,14.4542,C
241,241,1,3,"Murphy, Miss. Katherine ""Kate""",female,15.5000,Q
242,242,0,2,"Coleridge, Mr. Reginald Charles",male,10.5000,S
243,243,0,3,"Maenpaa, Mr. Matti Alexanteri",male,7.1250,S
244,244,0,3,"Attalah, Mr. Sleiman",male,7.2250,C
245,245,0,1,"Minahan, Dr. William Edward",male,90.0000,Q
246,246,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,7.7750,S
247,247,1,2,"Hamalainen, Mrs. William (Anna)",female,14.5000,S
248,248,1,1,"Beckwith, Mr. Richard Leonard",male,52.5542,S
249,249,0,2,"Carter, Rev. Ernest Courtenay",male,26.0000,S
250,250,0,3,"Reed, Mr. James George",male,7.2500,S
251,251,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,10.4625,S
252,252,0,1,"Stead, Mr. William Thomas",male,26.5500,S
253,253,0,3,"Lobb, Mr. William Arthur",male,16.1000,S
254,254,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,20.2125,S
255,255,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,15.2458,C
256,256,1,1,"Thorne, Mrs. Gertrude Maybelle",female,79.2000,C
257,257,1,1,"Cherry, Miss. Gladys",female,86.5000,S
258,258,1,1,"Ward, Miss. Anna",female,512.3292,C
259,259,1,2,"Parrish, Mrs. (Lutie Davis)",female,26.0000,S
260,260,0,3,"Smith, Mr. Thomas",male,7.7500,Q
261,261,1,3,"Asplund, Master. Edvin Rojj Felix",male,31.3875,S
262,262,0,1,"Taussig, Mr. Emil",male,79.6500,S
263,263,0,1,"Harrison, Mr. William",male,0.0000,S
264,264,0,3,"Henry, Miss. Delia",female,7.7500,Q
265,265,0,2,"Reeves, Mr. David",male,10.5000,S
266,266,0,3,"Panula, Mr. Ernesti Arvid",male,39.6875,S
267,267,1,3,"Persson, Mr. Ernst Ulrik",male,7.7750,S
268,268,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,153.4625,S
269,269,1,1,"Bissette, Miss. Amelia",female,135.6333,S
270,270,0,1,"Cairns, Mr. Alexander",male,31.0000,S
271,271,1,3,"Tornquist, Mr. William Henry",male,0.0000,S
272,272,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,19.5000,S
273,273,0,1,"Natsch, Mr. Charles H",male,29.7000,C
274,274,1,3,"Healy, Miss. Hanora ""Nora""",female,7.7500,Q
275,275,1,1,"Andrews, Miss. Kornelia Theodosia",female,77.9583,S
276,276,0,3,"Lindblom, Miss. Augusta Charlotta",female,7.7500,S
277,277,0,2,"Parkes, Mr. Francis ""Frank""",male,0.0000,S
278,278,0,3,"Rice, Master. Eric",male,29.1250,Q
279,279,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,20.2500,S
280,280,0,3,"Duane, Mr. Frank",male,7.7500,Q
281,281,0,3,"Olsson, Mr. Nils Johan Goransson",male,7.8542,S
282,282,0,3,"de Pelsmaeker, Mr. Alfons",male,9.5000,S
283,283,1,3,"Dorking, Mr. Edward Arthur",male,8.0500,S
284,284,0,1,"Smith, Mr. Richard William",male,26.0000,S
285,285,0,3,"Stankovic, Mr. Ivan",male,8.6625,C
286,286,1,3,"de Mulder, Mr. Theodore",male,9.5000,S
287,287,0,3,"Naidenoff, Mr. Penko",male,7.8958,S
288,288,1,2,"Hosono, Mr. Masabumi",male,13.0000,S
289,289,1,3,"Connolly, Miss. Kate",female,7.7500,Q
290,290,1,1,"Barber, Miss. Ellen ""Nellie""",female,78.8500,S
291,291,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,91.0792,C
292,292,0,2,"Levy, Mr. Rene Jacques",male,12.8750,C
293,293,0,3,"Haas, Miss. Aloisia",female,8.8500,S
294,294,0,3,"Mineff, Mr. Ivan",male,7.8958,S
295,295,0,1,"Lewy, Mr. Ervin G",male,27.7208,C
296,296,0,3,"Hanna, Mr. Mansour",male,7.2292,C
297,297,0,1,"Allison, Miss. Helen Loraine",female,151.5500,S
298,298,1,1,"Saalfeld, Mr. Adolphe",male,30.5000,S
299,299,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,247.5208,C
300,300,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,7.7500,Q
301,301,1,3,"McCoy, Mr. Bernard",male,23.2500,Q
302,302,0,3,"Johnson, Mr. William Cahoone Jr",male,0.0000,S
303,303,1,2,"Keane, Miss. Nora A",female,12.3500,Q
304,304,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,8.0500,S
305,305,1,1,"Allison, Master. Hudson Trevor",male,151.5500,S
306,306,1,1,"Fleming, Miss. Margaret",female,110.8833,C
307,307,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,108.9000,C
308,308,0,2,"Abelson, Mr. Samuel",male,24.0000,C
309,309,1,1,"Francatelli, Miss. Laura Mabel",female,56.9292,C
310,310,1,1,"Hays, Miss. Margaret Bechstein",female,83.1583,C
311,311,1,1,"Ryerson, Miss. Emily Borie",female,262.3750,C
312,312,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0000,S
313,313,0,3,"Hendekovic, Mr. Ignjac",male,7.8958,S
314,314,0,2,"Hart, Mr. Benjamin",male,26.2500,S
315,315,1,3,"Nilsson, Miss. Helmina Josefina",female,7.8542,S
316,316,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,26.0000,S
317,317,0,2,"Moraweck, Dr. Ernest",male,14.0000,S
318,318,1,1,"Wick, Miss. Mary Natalie",female,164.8667,S
319,319,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,134.5000,C
320,320,0,3,"Dennis, Mr. Samuel",male,7.2500,S
321,321,0,3,"Danoff, Mr. Yoto",male,7.8958,S
322,322,1,2,"Slayter, Miss. Hilda Mary",female,12.3500,Q
323,323,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,29.0000,S
324,324,0,3,"Sage, Mr. George John Jr",male,69.5500,S
325,325,1,1,"Young, Miss. Marie Grice",female,135.6333,C
326,326,0,3,"Nysveen, Mr. Johan Hansen",male,6.2375,S
327,327,1,2,"Ball, Mrs. (Ada E Hall)",female,13.0000,S
328,328,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,20.5250,S
329,329,1,1,"Hippach, Miss. Jean Gertrude",female,57.9792,C
330,330,1,3,"McCoy, Miss. Agnes",female,23.2500,Q
331,331,0,1,"Partner, Mr. Austen",male,28.5000,S
332,332,0,1,"Graham, Mr. George Edward",male,153.4625,S
333,333,0,3,"Vander Planke, Mr. Leo Edmondus",male,18.0000,S
334,334,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,133.6500,S
335,335,0,3,"Denkoff, Mr. Mitto",male,7.8958,S
336,336,0,1,"Pears, Mr. Thomas Clinton",male,66.6000,S
337,337,1,1,"Burns, Miss. Elizabeth Margaret",female,134.5000,C
338,338,1,3,"Dahl, Mr. Karl Edwart",male,8.0500,S
339,339,0,1,"Blackwell, Mr. Stephen Weart",male,35.5000,S
340,340,1,2,"Navratil, Master. Edmond Roger",male,26.0000,S
341,341,1,1,"Fortune, Miss. Alice Elizabeth",female,263.0000,S
342,342,0,2,"Collander, Mr. Erik Gustaf",male,13.0000,S
343,343,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,13.0000,S
344,344,0,2,"Fox, Mr. Stanley Hubert",male,13.0000,S
345,345,1,2,"Brown, Miss. Amelia ""Mildred""",female,13.0000,S
346,346,1,2,"Smith, Miss. Marion Elsie",female,13.0000,S
347,347,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,16.1000,S
348,348,1,3,"Coutts, Master. William Loch ""William""",male,15.9000,S
349,349,0,3,"Dimic, Mr. Jovan",male,8.6625,S

## 3 - Data Visualization
### What can we learn if we plot survival by passenger gender?
---

Speaker 3:
* "We can use visualizations to help draw conclusions from large amounts of data."

In [102]:
#Speaker 3 code:
#seaborn.barplot(x='Gender', y='Survived', data=data)

Speaker 3:
* "What can we infer from this graph?"
* "Why do you think women had a higher survival rate?"

## 4 - Data Science Models
### Learning from the data to make a prediction
---

Speaker 4:
* "They use a set of rules and learns from the data to produce a result of interest
* "For example, if a new passanger would survive based on He/She characteristics...

![](Images/DT_Titanic.png)

## 5- Decision Trees 
### Models probable consequences for an observation using a tree structure
---

Decision trees are sort of like a more complex "if-and-else" statements.

Speaker 4:
* "They use a set of rules and learns from the data to produce a result of interest
* "For example, if a new passanger would survive based on He/She characteristics...

In [ ]:
#What is happening to the weather today?

weather = raw_input("What is the weather like: ")

if weather == "raining":
    print("Take an umbrella")
    
elif weather == "cold":
    print("Take a coat")
    
elif weather == "sunny":
    print("Wear sunscreen")
    
else:
    print("Have a good day, whatever the weather!")